.kaufman__triangle {
  height: 877px;
  width: 877px;

  background-size: contain;
  position: absolute;
  top: 0px;
  right: -210px;
  z-index: 1;
  background-image: url("../../../images/kaufman-triangle.svg");
}
